<section id="cart">

	<div class="heading">
		<h4><?php echo $heading_title; ?></h4>
		<div class="cart-total">
			<a href="<?php echo $cart; ?>" id="cart-total"><?php echo $text_items; ?></a>
		</div>
	</div>
	<div class="details">
		<div class="arrow">&nbsp;&nbsp;&nbsp;</div>
		<div class="content">
			
			<?php if ($products || $vouchers) { ?>
			
			<div class="mini-cart-info">
				<table class="items">
					<?php foreach ($products as $product) { ?>
					<tr>
						<td class="image"><?php if ($product['thumb']) { ?>
							<a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" /></a>
							<?php } ?></td>
						<td class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a>
							<div>
								<?php foreach ($product['option'] as $option) { ?>
								- <small><?php echo $option['name']; ?> <?php echo $option['value']; ?></small><br />
								<?php } ?>
							</div>
						</td>
						<td class="quantity"><?php echo $product['quantity']; ?></td>
						<td class="total"><?php echo $product['total']; ?></td>
						<td><a class="close" data-dismiss="item" title="<?php echo $button_remove; ?>" onclick="(getURLVar('route') == 'checkout/cart' || getURLVar('route') == 'checkout/checkout') ? location = 'index.php?route=checkout/cart&remove=<?php echo $product['key']; ?>' : $('#cart').load('index.php?route=module/cart&remove=<?php echo $product['key']; ?>' + ' #cart > *');">&times;</a></td>
					</tr>
					<?php } ?>
					<?php foreach ($vouchers as $voucher) { ?>
					<tr>
						<td class="image"></td>
						<td class="name"><?php echo $voucher['description']; ?></td>
						<td class="quantity">x&nbsp;1</td>
						<td class="total"><?php echo $voucher['amount']; ?></td>
						<td><a class="close" data-dismiss="item" title="<?php echo $button_remove; ?>" onclick="(getURLVar('route') == 'checkout/cart' || getURLVar('route') == 'checkout/checkout') ? location = 'index.php?route=checkout/cart&remove=<?php echo $voucher['key']; ?>' : $('#cart').load('index.php?route=module/cart&remove=<?php echo $voucher['key']; ?>' + ' #cart > *');" >&times;</a></td>
					</tr>
					<?php } ?>
				</table>
			</div>

			<div class="mini-cart-total">
				<table class="total">
					<?php foreach ($totals as $total) { ?>
					<tr>
						<td class="right"><b><?php echo $total['title']; ?>:</b></td>
						<td class="right"><?php echo $total['text']; ?></td>
					</tr>
					<?php } ?>
				</table>
			</div>

			<div class="checkout">
				<a href="<?php echo $cart; ?>" class="button button-mini"><?php echo $text_cart; ?></a>
				<a href="<?php echo $checkout; ?>" class="button button-cart button-mini"><?php echo $text_checkout; ?></a>
			</div>

			<?php } else { ?>

			<div class="empty white"><?php echo $text_empty; ?></div>

			<?php } ?>

			<a id="closecart" class="close" title="Close" onclick="$('#cart').removeClass('active');">×</a>

		</div>
	</div>
</section>