<div class="box">
	
	<div class="contentset center">
		<h4 class="inner"><span><?php echo $heading_title; ?></span></h4>
	</div>

	<div class="box-content" style="text-align: center;">
		<?php echo $code; ?>
	</div>

</div>
