/*  
Theme Name: Sellegance
Version: 1.5.0.1
Description: All Black skin
*/

.container .container-inner {
	padding: 0;
}

#logo-white { display: inline !important; }
#logo-black { display: none !important; }

#maincontent.span12 .slideshow, 
#content-wrapper .slideshow,
.navbar,
#thickbar { margin-left: 0; margin-right: 0; }

html,body,
.flexslider,
.contentset span,
.htabs a.selected,
.htabs a.selected:hover,
.form-actions,
.nav-tabs>.active>a, 
.nav-tabs>.active>a:hover {
	color: #fff;
	background: #000;
}
#content-wrapper > .container {
	background: transparent;
	border: 0;
}
.contentset,
.grid-box .inner,
.products-slider ul li .inner,
.middle.span6 .mainborder,
.sideleft.span9 .mainborder,
.sideright.span9 .mainborder,
.heading,
.navbar,
.nav-tabs,
.htabs,
.box-category>ul>li,
.box-category>ul>li ul li a,
.product-info .description,
.product-info .options,
.product-info .rightcol .price,
.product-info .review,
.product-info .share,
.product-info .tags,
.form-actions,
.product-info .image-additional a,
.checkout-content .method-type,
.table-bordered,
.table-bordered th, 
.table-bordered td,
.banner-carousel,
#total-cart td {
	border-color: #333;
}
#cart .items tr+tr {
	border-color: #666;
}
a, a:visited, 
.grid-box .name a,
.box-category > ul > li > a,
.navbar .nav > li > a,
.product-info .rightcol .price,
.product-info .options,
.checkout_steps.active .checkout-heading,
.dropd span.selected,
#cart a.button-cart,
#style-switcher a,
.pagination ul>li>a,
.pagination ul>li>span {
	color: #fff;
}

.product-info .tags a,
.success a,
a.button,
.dropd li a,
#colorbox {
	color: #000;
}
.nav-tabs>.active>a, 
.nav-tabs>.active>a:hover,
.htabs a.selected,
.htabs a.selected:hover {
	border-color: #333;
	border-bottom-color: transparent;
}
.nav-tabs>li>a:hover,
.box-category a:hover,
.htabs a:hover {
	background: #111;
	color: #fff;
	border-color: transparent;
}

.pager li>a, .pager li>span,
#cart .content,
#cart.active .arrow,
.subcat a:hover,
#style-switcher,
.pagination ul>li>a:hover, .pagination ul>.active>a, .pagination ul>.active>span {
	background-color: #333;
	border-color: #666;
}
legend {
	color: #666;
	border-bottom-color: #333;
}
.product-filter,
.cart-module>div,
.empty,
.pagination ul>li>a, .pagination ul>li>span {
	background: #111;
	border-color: #333;
}
.subcat a {
	text-shadow: none;
	color: #fff;
}
#cart .arrow,
#cart.active .arrow {
background-position: -13px -29px;
}
#toggle_sidebar {
	border-color: #666;
}
.sideleft #toggle_sidebar,
.middle #toggle_sidebar.collapse {
	background: #000 url(../images/sprite.png) -18px 3px no-repeat;
}
.sideleft #toggle_sidebar.collapse,
.middle #toggle_sidebar.collapse  {
	background-position: -18px -15px;
}
.sideright #toggle_sidebar  {
	background: #000 url(../images/sprite.png) -18px -15px no-repeat;
}
.sideright #toggle_sidebar.collapse  {
	background-position: -18px 3px;
}
.middle #toggle_sidebar {
	background-color: #FFF;
	background-position: -95px -29px;
}

#cart .close {
	color: #ff0000;
	text-shadow: none;
}
.table thead td, .table thead th {
	background-color: #333;
	text-shadow: none;
	color: #fff;
}
#cart-info td,
.product-info .image-additional:hover a {
	background: transparent !important;
	border-color: #111;
}
#footer .container,
#footend .container {
	border-top: 1px solid #333;
	padding-top: 10px;
}

@media only screen and (max-width: 979px) {

	.responsive .nav-collapse.in { background: #111; border-color: #333; }
	.responsive .nav-collapse li { border-top: 1px dotted #333;	}
	.responsive #homelink { display: none; }

	.responsive .button-navbar span, 
	.responsive #footer h3.header {
		color: #fff; 
		text-shadow: none;
	}

	.responsive .navbar .button-navbar {
		background-color: #111;
		background-image: -moz-linear-gradient(top, #222, #111);
		background-image: -ms-linear-gradient(top, #222, #111);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#111));
		background-image: -webkit-linear-gradient(top, #222, #111);
		background-image: -o-linear-gradient(top, #222, #111);
		background-image: linear-gradient(top, #222, #111);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#111111', GradientType=0);
		border-color: #111 #111 black;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
	}

	.responsive .navbar .button-navbar span {
		border-right-color: #222;
		color: #fff;
		text-shadow: none;
	}

	.responsive .navbar .button-navbar:hover {
		background-color: #111;
		color: #fff !important;
	}

	.responsive .navbar .nav > li > a {
		color: #fff;
	}
	
}

@media only screen and (max-width: 767px) {

	#mobileMenuWrap {
		border: 1px solid #333;
		background: #111;
	}
	.responsive #footer h3.header {
		background-color: #111;
		background-image: -moz-linear-gradient(top, #222, #111);
		background-image: -ms-linear-gradient(top, #222, #111);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222), to(#111));
		background-image: -webkit-linear-gradient(top, #222, #111);
		background-image: -o-linear-gradient(top, #222, #111);
		background-image: linear-gradient(top, #222, #111);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#111111', GradientType=0);
		border-color: #111 #111 black;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
	}
	.responsive #footer h3.header:hover {
		background-color: #111;
		color: #fff !important;
	}
	.responsive #footer h3.header.active{
		background: #111;
		color: #fff !important;
	}

	.responsive #footer ul.content {
		background: #060606;
		border-color: #111;
	}
	.responsive #footer ul li a {
		border-bottom: 1px solid #333;
		text-shadow: none;
	}
	.responsive #footer ul li a:hover, 
	.responsive #footer ul li a:active {
		background-color: #202020;
		color: #fff;
	}
}