/* Custom styles */
@font-face {
    font-family: 'dinregular';
    src: url('font/dinfont-webfont.eot');
    src: url('font/dinfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dinfont-webfont.woff') format('woff'),
         url('font/dinfont-webfont.ttf') format('truetype'),
         url('font/dinfont-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#content-wrapper > .container {
    border: 1px solid #CCC;
    background: none repeat scroll 0% 0% #FFF;
    margin-top: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.grid-box .cart .button, .product-grid .cart .button {
	padding: 7px 12px;
}
.product-list .cart .button {
	padding: 7px 12px;
}
body, p {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;

}
.navbar .nav > li > a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;   
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.navbar-inner {
	border-color: #BC0E10;
	color: rgb(255, 255, 255) !important;
	background-color: #E90303;
	background-image: -moz-linear-gradient(center top , #E90303, #BC0E10);
	background-repeat: repeat-x;
}
.grid-box .name a {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #444;
}

#thickbar {
    display: none;
}

.onsale {
    background-color: #E90303;
    color: #FFF;
    border-radius: 0;
    background: none repeat scroll 0% 0% #E90303;
    min-height: 0;
    line-height: 12px;
    left: 0;
    padding: 7px;
}

#button-checkout {
	padding: 7px 12px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

#button-cart {
	padding: 7px 10px;
font-size: 13px;
font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

legend { 
	font-family: 'Roboto', sans-serif;
	color: #E90303;
}




ul li .cart .button {
	padding:6px 8px;
}
a.button-cart { 
	padding: 5px 7px;
}

.dropdown-menu li > a { 
	font-size: 15px;
}

.navbar .nav > li:hover > a,
			.navbar .nav > li > a:hover {
				color: #ddd;
}

.attribute thead td {
	
	color:#BC0E10;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;

}