/*  
Theme Name: Sellegance
Version: 1.5.0.1
Description: Dark skin
*/

body { 
	background-color: #1f1b1a;
	background-image: url('../images/patterns/39.png'); 
}

#thickbar { background: #DD4B39; }

.navbar .nav > li:hover > a,
.navbar .nav > li > a:hover,
#cart-total {
	color: #F27979;
}

#logo-white { display: inline !important; }
#logo-black { display: none !important; }

.dropd span.selected:hover { color: #fff; }
.dropd.active span.selected:hover { color: #999; }

#content-wrapper > .container {
	webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0;
}

#footer h3 { color: #fff; }
	#footer li a { color: #777; }

#footend .container  {
	border-top: 1px solid #333;
}

	#cart h4 { color: #fff; }
	.cart-total a { color: #f97216; }

	#welcome a, #links a { color: #fff; }
	#links a + a { border-left: 1px solid #555; }

	#cart .arrow {
		background-position: -13px -29px;
	}

@media only screen and (max-width: 979px) {
	.responsive .nav-collapse.in { background: #212121; border-color: #333; }
	.responsive .nav-collapse li { border-top: 1px dotted #333;	}
	.responsive #homelink { display: none; }

	.responsive .button-navbar span, 
	.responsive #footer h3.header {
		color: #fff; 
		text-shadow: none;
	}

	.responsive .navbar .button-navbar {
		background-color: #2C2C2C;
		background-image: -moz-linear-gradient(top, #333, #222);
		background-image: -ms-linear-gradient(top, #333, #222);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
		background-image: -webkit-linear-gradient(top, #333, #222);
		background-image: -o-linear-gradient(top, #333, #222);
		background-image: linear-gradient(top, #333, #222);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
		border-color: #222 #222 black;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
	}

	.responsive .navbar .button-navbar span {
		border-right-color: #333;
		color: #fff;
		text-shadow: none;
	}

	.responsive .navbar .button-navbar:hover {
		background-color: #222;
		color: #fff !important;
	}

}

@media only screen and (max-width: 767px) {

	#mobileMenuWrap {
		border: 1px solid #444;
		background: #333;
	}
	.responsive #footer h3.header {
		background-color: #2C2C2C;
		background-image: -moz-linear-gradient(top, #333, #222);
		background-image: -ms-linear-gradient(top, #333, #222);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333), to(#222));
		background-image: -webkit-linear-gradient(top, #333, #222);
		background-image: -o-linear-gradient(top, #333, #222);
		background-image: linear-gradient(top, #333, #222);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
		border-color: #222 #222 black;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .075);
	}

	.responsive #footer h3.header:hover {
		background-color: #222;
		color: #fff !important;
	}

	.responsive #footer h3.header.active{
		background: #191919;
		color: #fff !important;
	}

	.responsive #footer ul.content {
		background: #242424;
		border-color: #222;
	}
	.responsive #footer ul li a {
		border-bottom: 1px solid #333;
		text-shadow: none;
	}
	.responsive #footer ul li a:hover, 
	.responsive #footer ul li a:active {
		background-color: #202020;
		color: #fff;
	}

	.responsive .navbar .nav > li > a {
		color: #fff;
	}
	
}